$textColor: rgb(73, 243, 96);
$backGroundColor: rgb(43, 42, 42);

@keyframes bounce {
  0% {
    bottom: 110px;
    border-color: rgb(255, 255, 255);
  }
  10% {
    border-color: rgb(255, 255, 255);
  }

  40% {
    border-color: $textColor;
  }
  100% {
    bottom: 93%;
  }
}

body {
  background-color: $backGroundColor;
  user-select: none;
}

p {
  margin: 0px auto;
}

div {
  margin: 0px;
  padding: 0px;
}

.pendulum {
  height: 80vh;
  z-index: 100;
  .circle {
    border: 18px solid $textColor;
    border-radius: 100%;
    height: 0px;
    width: 0px;
    margin: 0 auto;
    position: fixed;
    left: 48vw;
    bottom: 110px;
  }
  .animation {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    // animation-timing-function: linear;
  }
}
.controls {
  position: absolute;
  bottom: 0px;
  height: 15vh;
  display: block;
  margin: 0 auto;
  //   border-color: $textColor;
  //   border-style: solid;
  //   border-width: 2px;

  .tempo-display {
    display: inline-block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    bottom: 5px;
    font-size: 80px;
    margin-left: 10px;
    margin-right: 10px;
    color: $textColor;
  }

  #tempoUp {
    bottom: 55px;
  }

  #tempoDown {
    bottom: 15px;
  }
  .tempo-btn {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 40px;
    font-size: 3rem;
    color: $textColor;
    background-color: $backGroundColor;
    border: none;
    left: 160px;
  }

  .play {
    // display: inline-block;
    border-left: 80px solid $textColor;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
  }

  .stop {
    // display: inline-block;
    border: 40px solid $textColor;
  }

  #onOff {
    position: fixed;
    display: inline-block;
    bottom: 12px;
    right: 15px;
    width: 0px;
    height: 0px;
  }
}
