$textColor: rgb(0, 0, 0);
$backGroundColor: rgb(188, 235, 241);

@mixin center() {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@mixin circleNoBorderBottom() {
  border-radius: 100%;
  height: 0px;
  width: 0px;
  position: fixed;
  @include center();
}

@keyframes bounce {
  0% {
    bottom: 110px;
  }
  //   border-color: rgb(255, 255, 255);
  // }

  // 10% {
  //   border-color: rgb(255, 255, 255);
  // }

  // 30% {
  //   border-color: $textColor;
  // }
  100% {
    bottom: 88%;
  }
}

@keyframes circleLight {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes whiteLight {
  0% {
    opacity: 100%;
  }
  40% {
    opacity: 0%;
  }
}

body {
  background-color: $backGroundColor;
  user-select: none;
}

p {
  margin: 0px auto;
}

div {
  margin: 0px;
  padding: 0px;
}

.pendulum {
  background-color: rgb(35, 184, 184);
  position: fixed;
  bottom: 135px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 150;
  border-bottom: 2px solid $textColor;
  // border-bottom: 5px solid black;
  .circle {
    border: 36px solid $textColor;
    @include circleNoBorderBottom();
    bottom: 110px;
  }
  .whiteCdn {
    border: 36px solid white;
    @include circleNoBorderBottom();
    bottom: 110px;
    opacity: 0%;
  }
  .whiteCup {
    border: 36px solid white;
    @include circleNoBorderBottom();
    bottom: 88%;
    opacity: 0%;
  }
}

.pendulum::before {
  content: "";
  width: 88px;
  height: calc(100% + 5.5px);
  background-color: rgb(35, 184, 184);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigC {
  height: 69px;
  width: 69px;
  // background-color: white;
  border-radius: 100%;
  border: 3px solid $textColor;
  opacity: 10%;
  position: absolute;
  bottom: -27px;
  @include center();
  // right: 10px;
}

.animCircle {
  animation-name: circleLight;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.animation {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  // animation-timing-function: linear;
}

.animWhite {
  animation-name: whiteLight;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.controls {
  position: absolute;
  bottom: 15px;
  height: 15vh;
  display: block;
  margin: 0 auto;
  //   border-color: $textColor;
  //   border-style: solid;
  //   border-width: 2px;

  .tempo-display {
    display: inline-block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    width: 105px;
    bottom: 15px;
    font-size: 4rem;
    // margin-left: px;
    // margin-right: 10px;
    text-align: right;
    color: $textColor;
  }
}

#tempoUp {
  bottom: 50px;
}

#tempoDown {
  bottom: 19px;
}
.tempo-btn {
  position: absolute;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  height: 35px;
  width: 40px;
  font-weight: 800;
  font-size: 2.4rem;
  color: $textColor;
  background-color: $backGroundColor;
  border: none;
  left: 106px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.play {
  // display: inline-block;
  border-left: 55px solid $textColor;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  right: 15px;
}

.stop {
  // display: inline-block;
  border: 25px solid $textColor;
  right: 20px;
}

#onOff {
  position: fixed;
  display: inline-block;
  bottom: 43px;
  width: 0px;
  height: 0px;
}
